

.request-container {
  margin-top: 50px;
  padding: 20px;
  height: 200px;
  background-color: red;
  margin-bottom: 20px   ;
  overflow: auto;
  white-space: nowrap;
}


.title {
  margin-top: 10px;
  text-align: center;
}
